/* CSS to remove borders from lightning buttons */
/* :host {
    --slds-c-button-radius-border: 0;
    --slds-c-button-neutral-color-border: transparent;
    --slds-c-button-neutral-color-border-hover: transparent;
    --slds-c-button-shadow-focus: none;
  } */
  
  /* Additional styling for the buttons if needed */
  /* .border-none {
    box-shadow: none !important;
  } */